
span {
  margin-left: 38%;
}
input {
  margin-left: 1%;
  border: solid 2px;
}
button {
  margin-left: 1%;
}

#big-box {
  border: 1px solid black;
  background-color: white;
  max-width: 800px;
  height: auto;
  padding: 5px;
  padding-bottom: 0px;
  margin: auto;
  margin-top: 50px;
}

#JDE {
  margin-top: 1%;
  margin-left: 33%;
}
#success-box {
  margin-top: 1%;
  margin-left: 33%;
  width: 33%;
  height: 75px;
}
input.invalid:focus {
  outline-color: darkred;
}
body:after {
  content: "";
  position: fixed;
  top: 0; bottom: 0; left: 0; right: 0; 
  background: hsla(180,0%,50%,0.25);
  pointer-events: none;
}
.logo {
  width: 200px;
  height: 200px;
  margin-top: -57px;
}
#error-true {
  border: 1px solid black;
  background-color: white;
  max-width: 800px;
  height: auto;
  padding: 5px;
  padding-bottom: 0px;
  margin: auto;
  margin-top: 50px;
}
#loading-true {
  box-sizing: border-box;
  text-align: center;
  margin: auto;
  padding-top : 15px;
}
